* {
    margin: 0;
    padding: 0;
}
/*start image and logo*/
header {
    background-color: rgb(78, 160, 255);
    width: 100%;
    height: 100px;
    padding: 20px;
    background-image: url("/img/pattern.png");
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#logo {
    width: 300px;
    height: 100px;
}
/*end of image and logo*/
/*start title, writer, date*/
h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}

.main_title {
   margin-bottom: 15px;
}

.grey, h4 {
    color: #a4a4a4;
}

#blue {
    color: #6bbadb ;
}
/*end title, writer, date*/
/*start photos and notes*/
.photos {
    margin-bottom: 20px;
}

.photos_notes {
    font-size: 14px;
}
/*end photos and notes*/
/*star fist and second paragraph*/
.text {
    margin-bottom: 20px;
}

.important {
    background-color: yellow;
}
/*end fist and second paragraph*/
/*start list*/
.list {
    margin-left: 20px;
    margin-bottom: 20px;
}
/*end list*/
/*star table*/
table {
    margin-bottom: 20px;
    border: none;
    border-collapse: collapse;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.rows {
    background-color: #b1e5f2;
}
/*end table*/
/*start final part*/
h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.news_1, .news_2 {
    color: white;
    font-size: 20px;
    font-weight:bold;
    padding: 15px;
    width: 300px;
    height: 160px;
    margin: 10px;
}
.news_1{
    background-image: url('/img/monitor.jpg');
    
}
.news_2 {
    background-image: url('/img/graph.jpg');
}
/*end final part*/